@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font: "Noto Sans", sans-serif;
  --main-color: #f0c478;
  --sec-color: #a2cdd6;
  --fd-lg: 3rem;
  --fd-md: 2.25rem;
  --fd-sm: 1.875rem;
  --fd-xs: 1.5rem;
  --f-lg: 1.25rem;
  --f-md: 1.125rem;
  --f-reg: 1rem;
  --f-sm: 0.875rem;
  --f-xs: 0.75rem;
}

html,
body {
  background: #fafafa;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--font);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--font);
  font-weight: normal;
}

#__next {
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
}

#layout_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: opacity 1s ease-in-out;
}

#main {
  flex: 1;
}

img {
  width: 100%;
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.inner {
  position: relative;
}

#header {
  z-index: 5;
}

.hidden {
  opacity: 0;
}

#header .inner {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
